<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="test/config/jdbc.properties">
		<property name="driver" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
	</properties>
	
	<settings>
		<setting name="logImpl" value="NO_LOGGING"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="test.config.entity.Student" alias="student"/>
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="test.config.entity.Color" />
	</typeHandlers>
			
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${pwd}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<package name="test.config.mapper"/>
	</mappers>

</configuration>